<nav id="navbar">
        <div class="nav-container">
            <!-- Updated Logo with Image -->
            <a href="index.html" class="brand">
                <img src="Images/logoo.png" alt="">
                <span class="brand-text">AquaPure</span>
            </a>

 <!-- Mobile Menu Button -->
        <button class="mobile-menu-btn" onclick="toggleMenu()" aria-label="Toggle Menu">
            <i class="ph-bold ph-list"></i>
        </button>

        <ul class="nav-links" id="navLinks">
            <li><a href="index.html">Home</a></li>
             <li><a href="about.html">About Us</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="review.html">Reviews</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>
</nav>


